.places {
    padding: 2rem;
    border-radius: 6px;
    background-color: #140524;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.places ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.places li {
    width: 10rem;
    text-align: center;
}

.places li img {
    height: 6rem;
    width: 8rem;
    object-fit: cover;
}

.places li h3 {
    margin: 0.5rem 0;
}

.places li p {
    font-size: 0.9rem;
}